* {
    box-sizing: border-box  ;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    color: #263138;
}

header {
    background-color: #112e6b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 24px;
    padding-bottom: 24px;
    
}

header p {
    color: #FFFFFF;
}

header nav a {
    color: #FFFFFF;
    font-weight: 600;
    padding: 32px;
    text-decoration: none;
}

#inicio {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px 80px 24px 80px;
    position: relative;
}

#inicio img {
    padding-top: 64px;
}

h1, h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
}

.paragrafo {
    line-height: 150%;
    margin-bottom: 32px;
}

.botao {
    background-color: #112e6b;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 16px 32px;
    text-decoration: none;
}

.botao-transparente {
    background-color: transparent;
    color: #112e6b;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.absolute {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

#clinica {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    padding: 24px 80px 64px 80px;
    margin: 24px; 
    position: relative;
}

#clinica h2 {
    text-align: center;
}

.image {
    display: flex;
    gap: 32px;
    margin: 24px;
    
}

#clinica img {
    margin-bottom: 10px;
}

#clinica h3 {
    margin-bottom: 10px;
}

#farmacia {
    padding: 64px 80px;
    text-align: center;
}

#farmacia img {
    margin: 64px auto;
}

#farmacia .paragrafo {
    max-width: 950px;
    margin: 0 auto;
}

#duvidas {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

#loc h2{
    text-align: center;
}

.imap {
    width: 100vw; /* 100% da largura da janela do navegador */
    max-width: 100%; /* Garante que não ultrapasse a largura máxima do conteúdo */
    height: 500px; /* Altura desejada para o mapa - ajuste conforme necessário */
    margin: 0; /* Remove margens para preencher toda a largura */
    padding: 0; /* Remove paddings */
    overflow: hidden; /* Para evitar a exibição horizontal de barras de rolagem */
}
  
.imap iframe {
    width: 100%; /* Garante que o iframe do mapa ocupe toda a largura do contêiner */
    height: 100%; /* Ocupa toda a altura do contêiner */
  }
  
  

footer {
    background-color: #112e6b;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 64px 80px;
}

footer img, footer .titulo {
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
}

footer nav a {
    color: #ffffff;
    display: block;
    margin-bottom: 16px;
    max-width: 350px;
}

footer p {
    color: #FFFFFF;
    margin-bottom: 16px;
}

footer p a {
    color: #ffffff;
    text-decoration: none;
}

footer strong {
    color: #FFFFFF;
}




#copyright {
    background-color: #ffffff;
    color: #263138;
    padding: 24px;
    text-align: center;
}

#copyright a {
    color: #112e6b;
}